<h2>Heroine's Page</h2>



<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%=link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>

<p>Create a Heroine <%= link_to "Click Here", "/heroines/new"%></p>
